@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  body{
    font-family: 'Mohave', sans-serif;
    font-family: 'Work Sans', sans-serif;
  }

header{
    background-color: #F38E58;
    height: 400px;
    display: block;
    text-align: center;
    justify-content: center;
}
/* navbar */
nav{
    background-color: #F38E58;
    height: 200px;
    
}
 
 nav .logo{
    width: 100px;
    position: absolute;
    top: 17px;
    left: 80px;
  }
  nav ul{
    float: left;
    margin-left: 200px;
  }
  nav ul li{
     display: inline-block;
     line-height: 80px;
     margin: 0 15px;
  }
  nav ul li a{
    position: relative;
    top: 5px;
     font-size: 14px;
     margin: 0 15px;
     text-decoration: none;
     color: #ffff;
     text-transform: uppercase;
 }
 .navbar{
     display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 34px;
    left: 100px;
  }
  .login{
      color: #ffffff;
      border: 3px solid #ffffff;
      border-radius: 10px;
      width: 70px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
  }
  .days{
      color: #ffffff;
    border: 3px solid #292828;
    border-radius: 10px;
    background-color: #292828;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  title{
      padding: auto;
  }

 
 header h1{
    color: #ffffff;
    font-size: 55px;
  }
  

  nav p{
 text-align: center;
   color: black;
   position: relative;
   top: 140px;
   right: 100px;
  }
/* maine */
main{
  display: flex;
}
.Conact-us{
  width: 50%;
  padding-top: 20px;
}
@media screen and (max-width: 600px)

{
  .Conact-us{
    width: 100%;
    padding: 0;
  }
}
.Conact-us h2{
  color: #43889C;
  margin-left: 50px;
  }
  .Conact-us p{
    font-size: 16px;
      margin-left: 50px;
      position: relative;
      top: 20px;
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    position: relative;
    top: 20px;
  }
  
  label {
    
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #F38E58;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-right: 140px;
  }
  
  input[type=submit]:hover {
    background-color: #F38E58;
  }
  
  .col-75 {
    width: 80%;
    margin-left: 50px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
   .info{
     
     padding-top: 20px;
    
   }
   .info img{
     width: 10%;
     position: relative;
     top: 65px;
   }
   .info h2{
    color: #43889C;
   }
   .info p{
    font-size: 16px;
    position: relative;
    top: 20px;
   }
   .info h3{
     font-size: 25px;
     position: relative;
     top: 40px;
   }
   .info .face{
     position: relative;
     left: 60px;
   }
   @media screen and (max-width: 600px){
     .info{
       width: 100%;
     }
   }
   
.footup{
  background-color: #0c0c0c;
  height: 400px;
  margin-top: 30px;
}
.About{
  position: relative;
  left: 30px;
  color: #ffffff;
  padding: 5px;
}
.About h3{
  color: #a7a4a4;
  margin-left: 55px;
}
.About ul{
  float: left;
  margin-left: 20px;
  list-style-type: none;
  padding: 12px;
}
.About ul li{
 display: block;
 margin-left:20px;
margin-top: 10px;
}
.About ul li a{
  
   font-size: 14px;
   text-decoration: none;
   color: rgb(128, 124, 124);
   text-transform: uppercase;
}
.footdwon{
  background-color: #1f1d1d;
  height: 30px;
}
.help{
  position: relative;
  left: 200px;
  color: #ffffff;
  padding: 5px;
}
.help h3{
  color: #ffffff;
  
}